{{extend 'layout.html'}}

<div class="container">
    <div class="row">
      <div class="col-md-12">
      <span class="clearfix"></span>
	  <button type="button" onclick=" window.location.assign('{{=URL('index')}}')" class="btn btn-info pull-right" style="margin:19px 0 0 7px; padding:16px;"><img src="{{=URL('static', 'images/menu_list.png')}}" width="45" height="40"><br>Back to Sales</button>
        <div class="sub-header2"><span></span><h3>{{=response.title}}</h3></div>
        <span class="clearfix"></span>
        <div class="table-responsive col-xs-12 col-sm-7 col-sm-offset-2 col-md-6 col-md-offset-3">
        {{='Sale-ID ' + str(sale.id).zfill(4)}}
        {{if sale:}}
          <table id="mytable" class="table table-bordred table-striped">
            <thead style="background-color: #D3D5F0;">
			<th style="text-align:right;"></th><th></th>
            </thead>
            <tbody>
					<tr><td style="text-align:right;">Sale recorded on</td><td><b>{{=sale.created_on}}</b></td></tr>
					<tr><td style="text-align:right;">Sale Amount</td><td><b>{{=sale.amount}}</b></td></tr>
					<tr><td style="text-align:right;">Customer's Name</td><td><b>{{=sale.first_name}}</b></td></tr>
					<tr><td style="text-align:right;">Company</td><td><b>{{=sale.company_name}}</b></td></tr>
					<tr><td style="text-align:right;">Address</td><td><b>{{=sale.address}}</b></td></tr>
					<tr><td style="text-align:right;">Primary Phone #</td><td><b>{{=sale.primary_phone_no}}</b></td></tr>
					<tr><td style="text-align:right;">Other Phone #</td><td><b>{{=sale.other_phone_no}}</b></td></tr>
					<tr><td style="text-align:right;">Email Address</td><td><b>{{=sale.email}}</b></td></tr>
             </tbody>
          </table>
	 {{pass}} <!-- end of if sale -->
        </div>

          <div class="clearfix"></div>
        <div class="table-responsive col-xs-12 col-sm-7 col-sm-offset-2 col-md-6 col-md-offset-3">
          <h5>Raw Material</h5>
          <table id="rawMaterial" class="table table-bordred table-striped">
            <thead style="background-color: #D3D5F0;">
                        <th  width="50%" style="text-align:right;"></th><th width="50%"></th>
            </thead>
            <tbody>
                        {{for m in material:}}

                                        <tr><td width="50%" style="text-align:right;">{{=m.item}}</td><td width="50%"><b>{{=m.price}}</b></td></tr>
                        {{pass}}
             </tbody>
          </table>
        </div>


      </div>
    </div>
  </div>

